In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/network_data.csv')

In [3]:
data.head()

,name,time,ByteCount,FlowCount,PacketCount,dpid
0,aggregate_stats,1549584000539375839,505220866144036,28,-1,2038063737059428907
1,aggregate_stats,1549584000618361519,290151965558460,27,-1,2037944993634475373
2,aggregate_stats,1549584000742710886,341031909558944,27,-1,2037944993634476261
3,aggregate_stats,1549584001529267179,505220885728120,28,-1,2038063737059428907
4,aggregate_stats,1549584001618192040,290151973329084,27,-1,2037944993634475373

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7803314 entries, 0 to 7803313
Data columns (total 6 columns):
name           object
time           int64
ByteCount      int64
FlowCount      int64
PacketCount    int64
dpid           int64
dtypes: int64(5), object(1)
memory usage: 357.2+ MB

In [5]:
data['time'] = pd.to_datetime(data['time'],unit='ns')

In [7]:
data.tail()

,name,time,ByteCount,FlowCount,PacketCount,dpid
7803309,aggregate_stats,2019-03-10 05:08:26.187491172,365382373224204,27,-1,2037944993634475373
7803310,aggregate_stats,2019-03-10 05:08:26.950679181,617981692855968,28,-1,2038063737059428907
7803311,aggregate_stats,2019-03-10 05:08:27.030483556,429164364052488,27,-1,2037944993634476261
7803312,aggregate_stats,2019-03-10 05:08:27.187426142,365382375469540,27,-1,2037944993634475373
7803313,aggregate_stats,2019-03-10 05:08:27.950719458,617981696843134,28,-1,2038063737059428907